*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(58, 93, 126);
}

nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.logo-div img{
    height:4rem;
    width: 8rem;

}

.nav-location-div{
color: white;
}

.nav-location-div p:nth-child(1){
    margin-left: 18px;
    font-size: 10px;
    font-weight: 400;
    color: rgb(197, 189, 189);
}

.show-location{
    display: flex;
}

.show-location p{
    margin-left: 6px;
    font-size: 15px;
    font-weight: 700;
}

.search-input-div{

   background-color: white;
   display: flex;
   width: 53%; 
   height: 40px;
   display: flex;
   align-items: center;
   border-radius: 5px;
}

.search-select-input-div{
    height: 100%;
    width: 100%;
    display: flex;
}

.search-input-div .search-select-input-div select{
width: 50px;
text-align: center;
font-size: 12px;
border: none;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;

}
.search-select-input-div input{
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
    padding:0.4rem;
}

.search-icons{
width: 40px;
height: 100%;
background-color: #dd9d14;
display: flex;
align-items: center;
justify-content: center;
border-bottom-right-radius:5px ;
border-top-right-radius:5px ;
}

.nav-tools-pills{
padding: 0 0.2rem 0.2rem 0.2rem;
}
.nav-tools a{
    text-decoration: none;
    color: white;
}

.nav-tools-1{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    display: block;
}

.nav-tools-2{
    font-size: 14px;
    font-weight: 600;
}

.nav-tools ,.nav-2 i{
    font-size: 10px;
}

.nav-2 a{
text-decoration: none;
color: white;
}

.cart-div i{
    color: white;
    font-size: 24px;
}

.cart-div :nth-child(2){
    color:white;
    font-weight: 600;
    font-size:14px;
}

/* hero section */

.nav-hero{
    display: flex;
    height: 40px;
    align-items: center;
    padding: 1rem;
    font-size:14px ;
    color: white;
}

.nav-hero .nav-humberger{
font-size:15px;
font-weight: 700;

}
.nav-hero .nav-humberger i{
    font-size:18px;
    font-weight: 700;
    
    }

.nav-hero .nav-anchor a{
text-decoration: none;
color: white;
padding: 0.6rem;
}

/* hero section */

.hero-section{
    background: url("Amazon-hero.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-section-bar{
    background-color:rgb(203, 203, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height:35px;
    width:100%;
    margin: 1rem;
}

.hero-section-bar a{
    color: rgb(78, 78, 180);
    text-decoration: none;
}

/* content section */
.content-div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
    margin-bottom: 7rem;
    
}

.box{
    width:23.8%;
    height: 350px;
    /* height: 100%; */
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;

}
.box a{
    text-decoration: none;
}

.product-img{
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0.5rem 0;
    background-size: cover;
}

/* footer */

.footer-panel{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004B91;
    color: white;
}

.footerVeticalColumn{
height: 400px;
background-color: rgb(32, 59, 85);
display: flex;
justify-content: space-evenly;
}

.footer-list-div{
    margin:2rem;
}
.footer-list-div h2{
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.footer-lists{
    display: flex;
    flex-direction: column;
    gap:23px;
    padding-top: 1rem;
}

.footer-lists a{
font-size: 14px;
font-weight: 400;
color:white;
text-decoration: none;
}






